# Ignore virutal environments 
.env 
.venv 
env/ 
venv/ 
ENV/ 
env.bak/ 
venv.bak/ 

# Ignore database files
*.sqlite3
*.db

# Ignore migrations
**/migrations/

# Ignore compiled Python files
*.pyc

# Ignore static files
static/

# Ignore log files
*.log
