{% extends "base.html" %}
{% load static %}


{% block title %}Login{% endblock %}

{% block img %}
<div>
    <img src="{% static 'images/HomePage.svg' %}" class="img-fluid" id="mainimage">
</div>
{% endblock img %}

{% block linkcss %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
{% endblock linkcss %}

{% block content %}
<h2 id="login_text">Log In</h2>
<form method="post" id="login_form">
  {% csrf_token %}
  {{ form }}
  <button type="submit">Log In</button>
</form>
{% endblock %}