{% extends 'base.html' %}
{% load static %}

{% block img %}
<div>
    <img src="{% static 'images/HomePage.svg' %}" class="img-fluid" id="mainimage">
</div>
{% endblock img %}

{% block linkcss %}
<link rel="stylesheet" type="text/css" href="{% static 'css/news.css' %}">
<title>News</title>
{% endblock linkcss %}

{% block linkJS %}
<script src="{% static 'js/news.js' %}"></script>
{% endblock linkJS %}

{% block content %}
<div class="container-fluid" id="containerfirst">
    <center>

        <h3>
            News details
        </h3>

        <div class="card">
            <div>
                <p><b>Title:</b> {{ news.title }}</p>
                <p><b>Image:</b> <img src="{{ news.image.url }}" style="width: 100%; max-width: 300px; max-height: 250px; object-fit:contain"></p>
                <p><b>Link:</b> {{ news.link }}</p>
            </div>
            <div class="mt-3">
            <a href="{% url 'news_edit' news.pk %}">
                <button type="button" class="btn btn-warning">Edit</button>
            </a>
            <a href="{% url 'news_delete' news.pk %}">
                <button type="button" class="btn btn-danger">Delete</button>
            </a>
            </div>
        </div>
    </center>
</div>
{% endblock content %}